<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @truck.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @truck.company_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @truck.type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @truck.year %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @truck.capacity %>
</p>

<p>
  <strong>Reserved:</strong>
  <%= @truck.reserved %>
</p>

<% if can? :edit, @truck %>
<%= link_to 'Edit', edit_truck_path(@truck) %> |
<% end %>
<%= link_to 'Back', trucks_path %>
